.cardSection {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    align-items: flex-start; /* Align items to the start */
    justify-content: center;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
}

.card {
    max-width: 330px;
    width: 90%;
    border-radius: 15px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    display: flex; /* Use flexbox to ensure equal height */
    flex-direction: column; /* Stack children vertically */
    height: 100%; /* Ensure cards take full height of the container */
}

.cardPart {
    position: relative;
    flex: 1; /* Allow card part to grow and fill the available space */
}

.cardTop,
.cardBottom {
    transition: all 0.4s ease-in;
    z-index: 10;
}

.cardTop::before,
.cardBottom::before {
    content: "";
    position: absolute;
    border-style: solid;
    width: 100%;
    left: 0;
    box-sizing: border-box;
}

/* CARD TOP */
.cardTop {
    background-color: #0f1012;
    border-radius: 15px 15px 0 0;
    /* padding: 2.5rem 1.5rem 0 1.3rem; */
}

.card:hover .cardTop {
    transform: translateY(calc(var(--div-price-height) * -1));
}

.cardTop::before {
    border-color: transparent transparent transparent #0f1012;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: calc(var(--div-price-height));
    border-left-width: 330px;
    bottom: calc(var(--div-price-height) * -1);
}

.cardIcon {
    /* font-size: 70px; */
    color: #004f9b;
    height: 70px;
    width: 70px;
    display: inline-block;
    line-height: 50px;
    /* border-radius: 50%; */
    /* background-color: #004f9b; */
    margin-bottom: 15px;
}

.cardTitle {
    font-size: 25px;
    margin-top: 46px;
    color: #ccc;
}

/* CARD CENTER */
.cardCenter {
    height: 62px; /* Set a fixed height for the center */
    /* line-height: var(--div-price-height); */
    line-height: 34px;
}

.price {
    font-size: 60px;
}

/* CARD BOTTOM */
.cardBottom {
    padding: 0 1.3rem 2.5rem 1.3rem;
    background-color: #2a2b2f;
    border-radius: 0 0 15px 15px;
}

.card:hover .cardBottom {
    transform: translateY(var(--div-price-height));
  
  
}
.card:hover{
  box-shadow: -1px -1px 20px 2px #004f9b;
}

.cardBottom::before {
    border-color: transparent #2a2b2f transparent transparent;
    border-top-width: calc(var(--div-price-height) + 1px);
    border-right-width: 330px;
    border-bottom-width: 0;
    border-left-width: 0;
    top: calc(var(--div-price-height) * -1 - 1px);
}

.listOptions {
    list-style: none;
}

.listOptions li {
    font-size: 18px;
    color: #7a7b7d;
}

.listOptions li:not(:last-child) {
    margin-bottom: 16px;
}

.btnDetail {
    margin-top: 35px;
    width: 85%;
    max-width: 190px;
    padding: 0.8rem 1rem;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    background-color: #004f9b;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 15;
    transition: all 0.4s ease-in;
}

.card:hover .btnSignup {
    transform: translateY(calc(var(--div-price-height) * -1));
}

.smallFontSize {
  font-size: 12px; /* Adjust this value as needed */
}



